alabaster==0.7.9
argh==0.26.2
Babel==2.3.4
beautifulsoup4==4.5.3
colorama==0.3.7
docutils==0.13.1
future==0.16.0
imagesize==0.7.1
javalang==0.10.1
javasphinx==0.9.1+
Jinja2==2.9.4
livereload==2.5.1
lxml==3.7.2
MarkupSafe==0.23
pathtools==0.1.2
port-for==0.3.1
Pygments==2.2.0
pytz==2016.10
PyYAML==3.12
requests==2.13.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.2
sphinx-autobuild==0.6.0
sphinx-rtd-theme==0.1.9
tornado==4.4.2
watchdog==0.8.3
