@import url("theme.css");

.wy-nav-content-wrap {
    background-color: #fafafa;
    margin-left: 250px;
}

.wy-nav-side, .wy-side-nav-search, .wy-menu-vertical {
    background-color: #fcfcfc;
    width: 250px;
}

.wy-side-scroll {
    width: 270px;
}

.wy-side-nav-search>a img.logo {
    margin: 0;
}

.wy-menu-vertical a {
    color: #636363;
}

.wy-menu-vertical a:hover {
    background-color: #e0e0e0;
    color: #404040;
}

.wy-menu-vertical li.current ul a {
    border-right: none;
    background-color: #f3f3f3;
}

.wy-side-nav-search {
    background-color: transparent;
}

.wy-side-nav-search>a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.wy-nav-content {
    background-color: #ffffff;
    margin: unset;
}