@import url("theme.css");

img {
    padding-bottom: 12px;
}

.guilabel, .menuselection {
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
}

.wy-body-for-nav {
    background-image: none;
    max-width: 1274px;
    margin: 0 auto;
}

.wy-grid-for-nav {
    position: relative;
}

.wy-nav-content-wrap {
    background-color: #fafafa;
    margin-left: 250px;
}

.wy-nav-top {
    line-height: 35px;
    padding: 15px;
}

.wy-nav-top i {
    padding-right: 15px;
}

.wy-nav-side, .wy-side-nav-search, .wy-menu-vertical {
    background-color: #fcfcfc;
    width: 250px;
}

.wy-side-scroll {
    width: 270px;
}

.wy-side-nav-search>a img.logo {
    margin: 0;
}

.wy-menu-vertical a {
    color: #636363;
}

.wy-menu-vertical a:hover {
    background-color: #e0e0e0;
    color: #404040;
}

.wy-menu-vertical li.current ul a {
    border-right: none;
    background-color: #f3f3f3;
}

.wy-menu-vertical p.caption {
    height: 42px;
    padding-top: 15px;
}

.wy-side-nav-search {
    background-color: transparent;
}

.wy-side-nav-search>a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.toctree-expand {
    font-size: inherit !important;
    line-height: 1.35em !important;
}

.rst-versions {
    left: unset;
}

.wy-nav-content {
    background-color: #ffffff;
    margin: unset;
    max-width: 100%;
}

.wy-breadcrumbs li.wy-breadcrumbs-aside {
    font-size: 0.9em;
}

div.wy-menu.rst-pro {
    display: none !important;
}

footer, footer p {
    font-size: 14px;
}

footer .commit {
    display: none;
}

.wy-table-responsive table, 
.wy-table-responsive table,
.rst-content table.docutils {
    table-layout: auto;
    width: 100%;
}

.wy-table-responsive table td, 
.wy-table-responsive table th,
.rst-content table th, 
.rst-content table td {
    min-width: 80px;
    white-space: normal;
}
.rst-content table.docutils td p {
    font-size: inherit;
}

.rst-content table.docutils td,
.rst-content table.docutils thead th {
    border-bottom: 1px solid #e1e4e5;
    border-left: 1px solid #e1e4e5 !important;
}

@media screen and (min-width:769px) {
    .wy-nav-side {
        left: unset;
    }
}

@media screen and (max-width: 768px) {
    .wy-nav-side.shift,
    .rst-versions.shift { 
        width: 50%;
        left: 0;
    }
    .wy-side-scroll {
        width: auto;
    }
    .wy-side-nav-search {
        width: auto;
    }
    .wy-menu.wy-menu-vertical{
        width: auto;
    }
    .wy-nav-content-wrap { 
        margin-left: 0;
    }
    .wy-nav-content-wrap .wy-nav-content { 
        padding: 1.618em;
    }
    .wy-nav-content-wrap.shift { 
        left: 50%;
    }
}

@media screen and (max-width: 500px) {
    .wy-nav-side.shift,
    .rst-versions.shift { 
        width: 75%;
        left: 0;
    }

    .wy-nav-content-wrap.shift { 
        left: 75%;
    }
}

@media screen and (max-width: 350px) {
    .wy-nav-side.shift,
    .rst-versions.shift { 
        width: 85%;
        left: 0;
    }

    .wy-nav-content-wrap.shift { 
        left: 85%;
    }
}

@media screen and (min-width: 200px) and (max-width: 300px) {
    .wy-nav-side.shift,
    .rst-versions.shift { 
        width: 100%;
        left: 0;
    }

    .wy-nav-content-wrap.shift { 
        left: 100%;
    }
}