@import url("theme.css");
.guilabel {
    font-family: monospace;
    font-weight: bold;
}

.wy-nav-content-wrap {
    background-color: #fafafa;
    margin-left: 250px;
}

.wy-nav-side, .wy-side-nav-search, .wy-menu-vertical {
    background-color: #fcfcfc;
    width: 250px;
}

.wy-side-scroll {
    width: 270px;
}

.wy-side-nav-search>a img.logo {
    margin: 0;
}

.wy-menu-vertical a {
    color: #636363;
}

.wy-menu-vertical a:hover {
    background-color: #e0e0e0;
    color: #404040;
}

.wy-menu-vertical li.current ul a {
    border-right: none;
    background-color: #f3f3f3;
}

.wy-side-nav-search {
    background-color: transparent;
}

.wy-side-nav-search>a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.wy-nav-content {
    background-color: #ffffff;
    margin: unset;
}

.wy-breadcrumbs li.wy-breadcrumbs-aside {
    font-size: 0.9em;
}

div.wy-menu.rst-pro {
    display: none !important;
}

footer, footer p {
    font-size: 14px;
}

footer .commit {
    display: none;
}

.rst-content table.docutils {
    table-layout: fixed;
    width: 100%;
}

.rst-content table.docutils td p {
    font-size: inherit;
}

@media screen and (max-width: 768px) {
    .wy-nav-side.shift { 
        width: 50%;
        left: 0;
    }
    .wy-side-scroll {
        width: auto;
    }
    .wy-side-nav-search {
        width: auto;
    }
    .wy-menu.wy-menu-vertical{
        width: auto;
    }
    .wy-nav-content-wrap { 
        margin-left: 0;
    }
    .wy-nav-content-wrap .wy-nav-content { 
        padding: 1.618em;
    }
    .wy-nav-content-wrap.shift { 
        left: 50%;
    }
}

@media screen and (max-width: 500px) {
    .wy-nav-side.shift { 
        width: 75%;
        left: 0;
    }

    .wy-nav-content-wrap.shift { 
        left: 75%;
    }
}

@media screen and (max-width: 350px) {
    .wy-nav-side.shift { 
        width: 85%;
        left: 0;
    }

    .wy-nav-content-wrap.shift { 
        left: 85%;
    }
}

@media screen and (max-width: 300px) {
    .wy-nav-side.shift { 
        width: 100%;
        left: 0;
    }

    .wy-nav-content-wrap.shift { 
        left: 100%;
    }
}